* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --cor00: #88A8C2;
  --cor01: #00BCA3;
  --cor02: #5ED6E8;
  --cor03: #00FFC6;
  --cor04: #0F2C3F;
  --cor05: #1F4068;
  --cor06: #233547;

  --corAlerta: #FF4C4C;
  --corSucesso: #5BE47B;
  --corAviso: #FFD93D;
}